#input-panel {
    -fx-pref-height: 80;
    -fx-spacing: 20;
    -fx-background-color: black;
    -fx-alignment: center;
}

#model-input {
    -fx-pref-width: 220;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

#graph-view {
    -fx-pref-width: 600;
}
